# Python
.venv/
.env
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# OS
.DS_Store
Thumbs.db

# Binaries
*.exe

# dbt
ecomm_dbt/target/
ecomm_dbt/dbt_packages/
ecomm_dbt/logs/
logs/

*.zip