
aws_region              = "us-east-1"
project_name            = "ecomm-analytics"
environment             = "dev"
redshift_admin_username = "admin"
redshift_admin_password = "YourStrongPassword123!"   
your_ip_cidr            = "0.0.0.0/32"               # replace with actual IP
