# Copy this file to terraform.tfvars and fill in your values
# terraform.tfvars is gitignored — never commit real credentials

aws_region              = "us-east-1"
project_name            = "ecomm-analytics"
environment             = "dev"
redshift_admin_username = "admin"
redshift_admin_password = "YourStrongPassword123!"   # change this
your_ip_cidr            = "0.0.0.0/32"               # replace with your actual IP
